In [3]:
import pandas as pd

In [17]:
df = pd.read_csv(r"C:\Users\Vinod R\Desktop\Tex\List.csv")
df

    Rank                      Name                    Industry
0      1                   Walmart                      Retail
1      2                    Amazon  Retail and cloud computing
2      3                ExxonMobil          Petroleum industry
3      4                     Apple        Electronics industry
4      5        UnitedHealth Group                  Healthcare
..   ...                       ...                         ...
95    96                  Best Buy                      Retail
96    97      Bristol-Myers Squibb     Pharmaceutical industry
97    98           United Airlines                     Airline
98    99  Thermo Fisher Scientific      Laboratory instruments
99   100                  Qualcomm                  Technology

[100 rows x 3 columns]

In [ ]:
# If it's a text file with a specific delimiter (e.g., tab-separated values)
# df = pd.read_csv(r"C:\Users\Vinod R\Desktop\Tex\News Portals.txt", delimiter='\t')
# print(df)

In [ ]:
#if you want to import a text file:

#df = pd.read_csv(r"(the file path)", sep = '\t')
#df

#'\t' - The sep parameter specifies the delimiter that separates the values in the file. \t represents a tab character.
#This means the file is expected to be a tab-separated values (TSV) file, where each column of data is separated by a tab.

#we can also use:
#df = pd.read_table(r"(the file path)")
#df

#or
#df = pd.read_table(r"(the file path.csv)", sep = ',')
#df

In [52]:
df = pd.read_csv(r"C:\Users\Vinod R\Desktop\Tex\News Portals.txt")
df

                                            Flipboard
0                                         Google News
1               Feedly (subcription based RSS reader)
2                     The New York Times (newsletter)
3                    The Washington Post (newsletter)
4                                    BBC (newsletter)
5                           The Guardian (newsletter)
6                             Morning Brew (business)
7                            The Skimm (general news)
8                           Axios (politics and tech)
9           The Daily by The New York Times (podcast)
10                          Up First by NPR (podcast)
11                            BBC Global News Podcast
12                             Inoreader (RSS reader)
13                                                CNN
14                                                BBC
15                                            Reuters
16                                   Associated Press
17  Mention and Talkwalker Alert (track mentions o...
18  Pocket and Instapapaer (social bookmarking ser...

In [50]:
df = pd.read_excel (r"C:\Users\Vinod R\Desktop\Tex\Data.xlsx", sheet_name = 'Industry')
df

,Rank,Name,Industry
0,50,Tesla,Automotive and energy
1,51,Procter & Gamble,Consumer products manufacturing
2,52,United States Postal Service,Logistics
3,53,Albertsons,Retail
4,54,General Electric,Conglomerate
5,55,MetLife,Financials
6,56,Goldman Sachs,Financials
7,57,Sysco,Food service
8,58,Bunge Limited,Food industry
9,59,RTX Corporation,Conglomerate
10,60,Boeing,Aerospace and defense
11,61,StoneX Group,Financials
12,62,Lockheed Martin,Aerospace and defense
13,63,Morgan Stanley,Financials
14,64,Intel,Technology
15,65,HP,Technology
16,66,TD Synnex,Infotech
17,67,IBM,Technology and cloud computing
18,68,HCA Healthcare,Healthcare
19,69,Prudential Financial,Financials
20,70,Caterpillar,Machinery
21,71,Merck & Co.,Pharmaceutical industry
22,72,World Fuel Services,Petroleum industry and logistics
23,73,New York Life Insurance Company,Insurance
24,74,Enterprise Products,Petroleum industry
25,75,AbbVie,Pharmaceutical industry
26,76,Plains All American Pipeline,Petroleum industry
27,77,Dow Chemical Company,Chemical industry
28,78,AIG,Insurance
29,79,American Express,Financial
30,80,Publix,Retail
31,81,Charter Communications,Telecommunications
32,82,Tyson Foods,Food processing
33,83,John Deere,Agriculture manufacturing
34,84,Cisco,Telecom hardware manufacturing
35,85,Nationwide Mutual Insurance Company,Financial
36,86,Allstate,Insurance
37,87,Delta Air Lines,Airline
38,88,Liberty Mutual,Insurance
39,89,TJX,Retail
40,90,Progressive Corporation,Insurance
41,91,American Airlines,Airline
42,92,CHS,Agriculture cooperative
43,93,Performance Food Group,Food processing
44,94,PBF Energy,Petroleum industry
45,95,Nike,Apparel
46,96,Best Buy,Retail
47,97,Bristol-Myers Squibb,Pharmaceutical industry
48,98,United Airlines,Airline
49,99,Thermo Fisher Scientific,Laboratory instruments
50,100,Qualcomm,Technology

In [64]:
df2 = pd.read_excel (r"C:\Users\Vinod R\Desktop\Tex\Data.xlsx")
df2

,Rank,Name,Industry
0,1,Walmart,Retail
1,2,Amazon,Retail and cloud computing
2,3,ExxonMobil,Petroleum industry
3,4,Apple,Electronics industry
4,5,UnitedHealth Group,Healthcare
5,6,CVS Health,Healthcare
6,7,Berkshire Hathaway,Conglomerate
7,8,Alphabet,Technology and cloud computing
8,9,McKesson Corporation,Health
9,10,Chevron Corporation,Petroleum industry
10,11,Cencora,Pharmacy wholesale
11,12,Costco,Retail
12,13,Microsoft,Technology and cloud computing
13,14,Cardinal Health,Healthcare
14,15,Cigna,Health insurance
15,16,Marathon Petroleum,Petroleum industry
16,17,Phillips 66,Petroleum industry
17,18,Valero Energy,Petroleum industry
18,19,Ford Motor Company,Automotive industry
19,20,The Home Depot,Retail
20,21,General Motors,Automotive industry
21,22,Elevance Health,Healthcare
22,23,JPMorgan Chase,Financial services
23,24,Kroger,Retail
24,25,Centene,Healthcare
25,26,Verizon Communications,Telecommunications
26,27,Walgreens Boots Alliance,Pharmaceutical industry
27,28,Fannie Mae,Financials
28,29,Comcast,Telecommunications
29,30,AT&T,Conglomerate and telecomunications
30,31,Meta Platforms,Technology
31,32,Bank of America,Financials
32,33,Target Corporation,Retail
33,34,Dell Technologies,Technology
34,35,Archer Daniels Midland,Food industry
35,36,Citigroup,Financials
36,37,United Parcel Service,Transportation
37,38,Pfizer,Pharmaceutical industry
38,39,Lowe's,Retail
39,40,Johnson & Johnson,Pharmaceutical industry
40,41,FedEx,Transportation
41,42,Humana,Health insurance
42,43,Energy Transfer Partners,Petroleum industry
43,44,State Farm,Financials
44,45,Freddie Mac,Financials
45,46,PepsiCo,Beverage
46,47,Wells Fargo,Financials
47,48,The Walt Disney Company,Media
48,49,ConocoPhillips,Petroleum industry
49,50,Tesla,Automotive and energy
50,51,Procter & Gamble,Consumer products manufacturing
51,52,United States Postal Service,Logistics
52,53,Albertsons,Retail
53,54,General Electric,Conglomerate
54,55,MetLife,Financials
55,56,Goldman Sachs,Financials
56,57,Sysco,Food service
57,58,Bunge Limited,Food industry
58,59,RTX Corporation,Conglomerate
59,60,Boeing,Aerospace and defense
60,61,StoneX Group,Financials
61,62,Lockheed Martin,Aerospace and defense
62,63,Morgan Stanley,Financials
63,64,Intel,Technology
64,65,HP,Technology
65,66,TD Synnex,Infotech
66,67,IBM,Technology and cloud computing
67,68,HCA Healthcare,Healthcare
68,69,Prudential Financial,Financials
69,70,Caterpillar,Machinery
70,71,Merck & Co.,Pharmaceutical industry
71,72,World Fuel Services,Petroleum industry and logistics
72,73,New York Life Insurance Company,Insurance
73,74,Enterprise Products,Petroleum industry
74,75,AbbVie,Pharmaceutical industry
75,76,Plains All American Pipeline,Petroleum industry
76,77,Dow Chemical Company,Chemical industry
77,78,AIG,Insurance
78,79,American Express,Financial
79,80,Publix,Retail
80,81,Charter Communications,Telecommunications
81,82,Tyson Foods,Food processing
82,83,John Deere,Agriculture manufacturing
83,84,Cisco,Telecom hardware manufacturing
84,85,Nationwide Mutual Insurance Company,Financial
85,86,Allstate,Insurance
86,87,Delta Air Lines,Airline
87,88,Liberty Mutual,Insurance
88,89,TJX,Retail
89,90,Progressive Corporation,Insurance
90,91,American Airlines,Airline
91,92,CHS,Agriculture cooperative
92,93,Performance Food Group,Food processing
93,94,PBF Energy,Petroleum industry
94,95,Nike,Apparel
95,96,Best Buy,Retail
96,97,Bristol-Myers Squibb,Pharmaceutical industry
97,98,United Airlines,Airline
98,99,Thermo Fisher Scientific,Laboratory instruments
99,100,Qualcomm,Technology

In [ ]:
#for displaying all the rows in the file

In [60]:
pd.set_option('display.max.rows', 101)
#after typing this code, run the df once again

#we can do this on columns as well:
#pd.set_option('display.max.column', 234)

In [ ]:
#this will shows the summary info

In [66]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      100 non-null    int64
 1   Name      100 non-null    object
 2   Industry  100 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Rank      100 non-null    int64
 1   Name      100 non-null    object
 2   Industry  100 non-null    object
dtypes: int64(1), object(2)
memory usage: 2.5+ KB

In [ ]:
#for getting the total number of rows and colums alone

In [70]:
df2.shape

(100, 3)

In [ ]:
#this will give the first five values in the table

In [74]:
df.head()

   Rank                Name                    Industry
0     1             Walmart                      Retail
1     2              Amazon  Retail and cloud computing
2     3          ExxonMobil          Petroleum industry
3     4               Apple        Electronics industry
4     5  UnitedHealth Group                  Healthcare

In [ ]:
#we need to specify the number of rows we need if more data need to be fetched

In [76]:
df.head(10)

   Rank                  Name                        Industry
0     1               Walmart                          Retail
1     2                Amazon      Retail and cloud computing
2     3            ExxonMobil              Petroleum industry
3     4                 Apple            Electronics industry
4     5    UnitedHealth Group                      Healthcare
5     6            CVS Health                      Healthcare
6     7    Berkshire Hathaway                    Conglomerate
7     8              Alphabet  Technology and cloud computing
8     9  McKesson Corporation                          Health
9    10   Chevron Corporation              Petroleum industry

In [ ]:
# this will give us the last 10 rows within our dataset

In [78]:
df.tail(10)

    Rank                      Name                 Industry
90    91         American Airlines                  Airline
91    92                       CHS  Agriculture cooperative
92    93    Performance Food Group          Food processing
93    94                PBF Energy       Petroleum industry
94    95                      Nike                  Apparel
95    96                  Best Buy                   Retail
96    97      Bristol-Myers Squibb  Pharmaceutical industry
97    98           United Airlines                  Airline
98    99  Thermo Fisher Scientific   Laboratory instruments
99   100                  Qualcomm               Technology

In [ ]:
#for getting specific column data

In [82]:
df2['Name']

0                                 Walmart
1                                  Amazon
2                              ExxonMobil
3                                   Apple
4                      UnitedHealth Group
5                              CVS Health
6                      Berkshire Hathaway
7                                Alphabet
8                    McKesson Corporation
9                     Chevron Corporation
10                                Cencora
11                                 Costco
12                              Microsoft
13                        Cardinal Health
14                                  Cigna
15                     Marathon Petroleum
16                            Phillips 66
17                          Valero Energy
18                     Ford Motor Company
19                         The Home Depot
20                         General Motors
21                        Elevance Health
22                         JPMorgan Chase
23                                 Kroger
24                                Centene
25                 Verizon Communications
26               Walgreens Boots Alliance
27                             Fannie Mae
28                                Comcast
29                                   AT&T
30                         Meta Platforms
31                        Bank of America
32                     Target Corporation
33                      Dell Technologies
34                 Archer Daniels Midland
35                              Citigroup
36                  United Parcel Service
37                                 Pfizer
38                                 Lowe's
39                      Johnson & Johnson
40                                  FedEx
41                                 Humana
42               Energy Transfer Partners
43                             State Farm
44                            Freddie Mac
45                                PepsiCo
46                            Wells Fargo
47                The Walt Disney Company
48                         ConocoPhillips
49                                  Tesla
50                       Procter & Gamble
51           United States Postal Service
52                             Albertsons
53                       General Electric
54                                MetLife
55                          Goldman Sachs
56                                  Sysco
57                          Bunge Limited
58                        RTX Corporation
59                                 Boeing
60                           StoneX Group
61                        Lockheed Martin
62                         Morgan Stanley
63                                  Intel
64                                     HP
65                              TD Synnex
66                                    IBM
67                         HCA Healthcare
68                   Prudential Financial
69                            Caterpillar
70                            Merck & Co.
71                    World Fuel Services
72        New York Life Insurance Company
73                    Enterprise Products
74                                 AbbVie
75           Plains All American Pipeline
76                   Dow Chemical Company
77                                    AIG
78                       American Express
79                                 Publix
80                 Charter Communications
81                            Tyson Foods
82                             John Deere
83                                  Cisco
84    Nationwide Mutual Insurance Company
85                               Allstate
86                        Delta Air Lines
87                         Liberty Mutual
88                                    TJX
89                Progressive Corporation
90                      American Airlines
91                                    CHS
92                 Performance Food Group
93                             PBF Energy
94                                   Nike
95                               Best Buy
96                   Bristol-Myers Squibb
97                        United Airlines
98               Thermo Fisher Scientific
99                               Qualcomm
Name: Name, dtype: object

In [84]:
df2.loc[55]

Rank                   56
Name        Goldman Sachs
Industry       Financials
Name: 55, dtype: object

In [86]:
df2.iloc[55]

Rank                   56
Name        Goldman Sachs
Industry       Financials
Name: 55, dtype: object